<section style="background-color: #343484; height: 50em; color: white;">
    <div class="container">


        <table class="table" >
            <thead>
                <tr>


                    <th scope="col">ITEM</th>
                    <th scope="col">TITLE</th>
                    <th>Price</th>
                    <th scope="col">QTY</th>


                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this.product._id}}.jpg"
                            alt="Please wait"></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <p> User ID:{{user}}</p>
                        <button class="cart-item-count mr-1 btn-warning"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-1 btn-warning"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr style="height: 2px; background-color: white;">
        <div class="float-right pr-5">
            <h4 class="float-right mr-5">Total: Rs. <span id="total">{{totalValue}}</span></h4>
        <a href="/place-order" class="mt-3 btn btn-success" style="width: 100%;">Place Order</a>
        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId,userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                alert("Product removed from the cart")
                location.reload()
            }else{
                console.log(response)
                document.getElementById(proId).innerHTML = quantity + count
                document.getElementById('total').innerHTML= response.total
            }
        }
        })
    }
</script>